#customer_profile
	.customer_div0
		%h1 #{@supplier.first_name + " " + @supplier.last_name}
		%p Supplier
	.customer_div1
		.customer_info
			%info #{@supplier.city}
			%br
			%info #Fashion #Electronics
		.customer_pic